<a href="https://colab.research.google.com/github/SpaceCore912/agriquad.github.io/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# reading

In [ ]:
import pandas as pd
import numpy as np

crops_import=pd.read_excel("/content/usda_fas_gats_imports_general.xlsx")

crops_import

# prompt: Using dataframe crops_import: to make the sum of values of the date as the amount of mony

# Create a new column 'Total_Import' to store the sum of import values for each Partner across all years.
crops_import['Total_Import'] = crops_import[[2016, 2017, 2018, 2019, 2020, 2021]].sum(axis=1)
crops_import

,Partner,Product,2016,2017,2018,2019,2020,2021,Period/Period % Change (Value),Reporter Code,Partner Code,Product Code,Total_Import
0,Brazil,Soybeans,0,0,0,597,120,101922,85177.0,US,BR,0203AT,102639
1,Canada,Soybeans,89260,74231,76909,60822,68471,97947,43.0,US,CA,0203AT,467640
2,Argentina,Soybeans,34862,54932,26341,53843,39343,66562,69.0,US,AR,0203AT,275883
3,Ukraine,Soybeans,20199,23472,27677,22216,33715,43944,30.0,US,UP,0203AT,171223
4,Russia,Soybeans,4057,796,2552,11785,38227,20930,-45.0,US,RS,0203AT,78347
5,India,Soybeans,63162,98273,77444,56723,25314,12473,-51.0,US,IN,0203AT,333389
6,Ghana,Soybeans,0,0,0,0,0,6937,NaN,US,GH,0203AT,6937
7,Togo,Soybeans,0,248,14,69,6031,4577,-24.0,US,TO,0203AT,10939
8,Turkey,Soybeans,105377,84173,5458,347,0,4136,NaN,US,TU,0203AT,199491
9,Mexico,Soybeans,20,210,4,1309,4485,3858,-14.0,US,MX,0203AT,9886
10,China,Soybeans,18123,8340,9307,2459,2030,2190,8.0,US,CH,0203AT,42449
11,Taiwan,Soybeans,714,800,676,752,886,758,-14.0,US,TW,0203AT,4586
12,Uruguay,Soybeans,3154,7068,846,1509,1323,723,-45.0,US,UY,0203AT,14623
13,Paraguay,Soybeans,0,0,412,0,1437,601,-58.0,US,PA,0203AT,2450
14,Ethiopia(*),Soybeans,330,0,241,0,1555,143,-91.0,US,ET,0203AT,2269
15,Central African Republic,Soybeans,0,0,0,0,0,66,NaN,US,CT,0203AT,66
16,Guatemala,Soybeans,0,0,0,0,25,43,71.0,US,GT,0203AT,68
17,Austria,Soybeans,0,0,0,0,0,18,NaN,US,AU,0203AT,18
18,Nepal,Soybeans,0,4,0,0,0,16,NaN,US,NP,0203AT,20
19,Japan,Soybeans,30,35,32,73,19,15,-22.0,US,JA,0203AT,204
20,"Korea, South",Soybeans,0,2,8,0,9,12,39.0,US,KS,0203AT,31
21,Uganda,Soybeans,4325,539,632,0,0,4,NaN,US,UG,0203AT,5500
22,Australia(*),Soybeans,0,0,0,0,0,4,NaN,US,AS,0203AT,4
23,Burma,Soybeans,0,0,0,0,0,3,NaN,US,BM,0203AT,3
24,Benin,Soybeans,0,0,0,0,653,0,NaN,US,BN,0203AT,653
25,Dominican Republic,Soybeans,144,0,0,0,0,0,NaN,US,DR,0203AT,144
26,France(*),Soybeans,0,0,22,6,0,0,NaN,US,FR,0203AT,28
27,Germany(*),Soybeans,0,0,0,68,0,0,NaN,US,GM,0203AT,68
28,Greece,Soybeans,2,0,0,0,0,0,NaN,US,GR,0203AT,2
29,Indonesia,Soybeans,0,49,97,45,0,0,NaN,US,ID,0203AT,191
30,Iran,Soybeans,0,0,0,0,6,0,NaN,US,IR,0203AT,6
31,Kazakhstan,Soybeans,0,14441,44654,7408,0,0,NaN,US,KZ,0203AT,66503
32,Latvia,Soybeans,66,0,0,0,0,0,NaN,US,LG,0203AT,66
33,Lithuania,Soybeans,70,0,0,0,0,0,NaN,US,LH,0203AT,70
34,Moldova,Soybeans,0,0,0,3418,0,0,NaN,US,MD,0203AT,3418
35,Netherlands,Soybeans,5,643,308,0,0,0,NaN,US,NL,0203AT,956
36,Serbia,Soybeans,0,0,8297,0,0,0,NaN,US,R1,0203AT,8297
37,Spain,Soybeans,0,0,0,428,0,0,NaN,US,SP,0203AT,428
38,Thailand,Soybeans,7,3,3,0,0,0,NaN,US,TH,0203AT,13
39,Vietnam,Soybeans,0,0,0,6,0,0,NaN,US,VM,0203AT,6
40,Leeward-Windward Islands(*),Soybeans,0,101,0,0,0,0,NaN,US,Y1,0203AT,101

In [ ]:
crops_export=pd.read_excel("/content/usda_fas_gats_exports.xlsx")

crops_export
# Create a new column 'Total_Import' to store the sum of import values for each Partner across all years.
crops_export['Total_export'] = crops_export[[2016, 2017, 2018, 2019, 2020, 2021]].sum(axis=1)
crops_export

,Partner,Product,2016,2017,2018,2019,2020,2021,Period/Period % Change (Value),Reporter Code,Partner Code,Product Code,Total_export
0,Algeria,Soybeans,0,0,0,10611,36469,50929,40.0,US,AG,0203AT,98009
1,Argentina,Soybeans,0,167,702305,71023,15,9,-42.0,US,AR,0203AT,773519
2,Australia,Soybeans,3,0,36,1722,632,81,-87.0,US,AS,0203AT,2474
3,Austria,Soybeans,0,0,0,0,0,32,NaN,US,AU,0203AT,32
4,Azerbaijan,Soybeans,0,0,3354,0,0,0,NaN,US,AJ,0203AT,3354
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Ukraine,Soybeans,106,67,25,54,14,93,566.0,US,UP,0203AT,359
92,United Arab Emirates,Soybeans,12057,4,16727,27,21,71,236.0,US,AE,0203AT,28907
93,Suriname,Soybeans,3,5,0,0,0,0,NaN,US,NS,0203AT,8
94,Switzerland(*),Soybeans,0,0,0,6803,28493,0,NaN,US,SZ,0203AT,35296
95,Uruguay,Soybeans,0,0,0,0,74,0,NaN,US,UY,0203AT,74

In [ ]:
disaster = pd.read_excel("/content/emdat-country-profiles_2024_09_30.xlsx")
disaster

In [ ]:
corn = pd.read_excel("/content/CornCostReturn.xlsx",sheet_name="Data sheet (machine readable)")
corn

In [ ]:
crop=pd.read_csv("/content/7a8590c1-c97e-4267-af83-e9e61ad4d578 (2).csv")
crop

# cleaning

In [ ]:
# cleaning

crops_import.head(5)
crops_import.info()
crops_import.dropna()
crops_import.columns


crops_import.describe()

In [ ]:
# def to unique values of coulmn
def unique_values(data,coulmn):

           print(data[coulmn].drop_duplicates().unique())

In [ ]:
# see the unique value of name
unique_values(crops_import,"Partner")

crops_import["Partner"]=crops_import["Partner"].replace(["Leeward-Windward Islands(*)","Australia(*)","Germany(*)","Ethiopia(*)","France(*)"],["Leeward-Windward Islands","Australia","Germany","Ethiopia","France"])

In [ ]:
# see the unique value of name
unique_values(crops_import,"Partner")

In [ ]:
crops_export.info()
crops_export.head(5)
crops_export.dropna()
crops_export.columns

In [ ]:
crops_export.describe()

In [ ]:
# see the unique value of name
unique_values(crops_export,"Partner")

In [ ]:
replace_dict = {
       "Leeward-Windward Islands(*)": "Leeward-Windward Islands",
       "Australia(*)": "Australia",
       "Germany(*)": "Germany",
       "Ethiopia(*)": "Ethiopia",
       "France(*)": "France",
       "Belgium-Luxembourg(*)": "Belgium-Luxembourg",
       "French Pacific Islands(*)": "French Pacific Islands",
       "Israel(*)": "Israel",
       "Italy(*)": "Italy",
       "Netherlands Antilles(*)": "Netherlands Antilles",
       "Norway(*)": "Norway",
       "New Zealand(*)": "New Zealand",
       "Switzerland(*)": "Switzerland"

   }

In [ ]:
crops_export["Partner"] = crops_export["Partner"].replace(replace_dict)

In [ ]:
 #see the unique value of name
unique_values(crops_export,"Partner")

In [ ]:
crops_export.describe()

In [ ]:
crops_export.describe()
crops_export.info()

In [ ]:
disaster.info()

disaster.describe()

disaster.dropna()

In [ ]:
disaster_new=disaster.loc[disaster['Disaster Group'] == 'Natural']

In [ ]:
disaster_new

In [ ]:
unique_values(disaster_new,"Disaster Type")

unique_values(disaster_new,"Total Events")

In [ ]:
disaster_drought=disaster_new.loc[disaster_new["Disaster Type"] == "Drought"]

disaster_flood=disaster_new.loc[disaster_new["Disaster Type"] == "Flood"]
disaster_storm=disaster_new.loc[disaster_new["Disaster Type"] == "Storm"]
disaster_wildfire=disaster_new.loc[disaster_new["Disaster Type"] == "Wildfire"]
disaster_Extreme_temperature = disaster_new.loc[disaster_new["Disaster Type"] == "Extreme temperature"]
disaster_Earthquake = disaster_new.loc[disaster_new["Disaster Type"] == "Earthquake"]
disaster_Volcanic_activity = disaster_new.loc[disaster_new["Disaster Type"] == "Volcanic activity"]


disaster_Glacial_lake_outburst_flood = disaster_new.loc[disaster_new["Disaster Type"] == "Glacial lake outburst flood"]
disaster_Mass_movement_dry= disaster_new.loc[disaster_new["Disaster Type"] == "Mass movement (dry)"]
disaster_Mass_movement_wet = disaster_new.loc[disaster_new["Disaster Type"] == "Mass movement (wet)"]
disaster_Infestation= disaster_new.loc[disaster_new["Disaster Type"] == "Infestation"]
disaster_Impact= disaster_new.loc[disaster_new["Disaster Type"] == "Impact"]

In [ ]:
corn.describe()

In [ ]:
corn.info()
corn.dropna()

In [ ]:
unique_values(corn,"Category")

In [ ]:
unique_values(corn,"Item")

In [ ]:
unique_values(corn,"Item2")

In [ ]:
unique_values(corn,"Units")

In [ ]:
crop.info()
crop.describe()
crop.dropna()

In [ ]:
unique_values(crop,"INDICATOR")

In [ ]:
unique_values(crop,"SUBJECT")

In [ ]:
unique_values(crop,"MEASURE")

In [ ]:
unique_values(crop,"TIME")

In [ ]:
import matplotlib.pyplot as plt

def events_over_time(data, x, y, title):
  """
  Plots events over time for each country.

  Args:
    data: DataFrame containing the data.
    x: Column name for the x-axis (e.g., 'Year').
    y: Column name for the y-axis (e.g., 'Total Events').
    title: Title of the plot.
  """
  plt.figure(figsize=(10, 6))
  for country in data['Country'].unique():
    country_data = data[data['Country'] == country]
    plt.plot(country_data[x], country_data[y], marker='o', label=country)
  plt.xlabel(x)
  plt.ylabel(y)
  plt.title(title)
  plt.legend(loc='upper left', bbox_to_anchor=(1, 1))
  plt.show()

In [ ]:
import plotly.express as px
import pandas as pd


def plotly_choropleth_map(data, title):
  """
  Creates a choropleth map to visualize drought events with years in descending order.

  Args:
    data: DataFrame containing the data.
    title: Title of the map.
  """
  data = data.sort_values(by=['Country', 'Year'])

  # Convert 'Total Events' column to numeric type
  data['Total Events'] = pd.to_numeric(data['Total Events'])

  data['Cumulative Events'] = data.groupby('Country')['Total Events'].cumsum()
  data = data[['Country', 'Year', 'Cumulative Events']].drop_duplicates(subset=['Country', 'Year'], keep='last')

  fig = px.choropleth(data, locations="Country", locationmode='country names',
                     color="Cumulative Events", hover_name="Country",
                     animation_frame="Year",
                     color_continuous_scale="Reds", title=title)
  fig.show()

# disaster

In [ ]:
plotly_choropleth_map(disaster_drought, "Drought Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_flood, "flood Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_storm, "storm Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_wildfire, "wildfire Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Extreme_temperature, "Extreme temperature Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Earthquake, "Earthquake Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Volcanic_activity, "Volcanic activity Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Glacial_lake_outburst_flood, "Glacial lake outburst flood Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Mass_movement_dry, "Mass movement(dry) Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Mass_movement_wet, "disaster Mass movement(wet) Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Infestation, "Infestation Events Over Time ")

In [ ]:
plotly_choropleth_map(disaster_Impact, "Impact Events Over Time ")

In [ ]:


max_total_import_row = crops_import.loc[crops_import['Total_Import'].idxmax()]
print(max_total_import_row)

In [ ]:
max_total_export_row = crops_export.loc[crops_export['Total_export'].idxmax()]
print(max_total_export_row)

# soebeans import export

In [ ]:
def bar(data,categorical,numerical,Title):
    data.groupby(categorical)[numerical].median().plot( kind="bar",figsize=(10,10))
    plt.xlabel("countries")
    plt.ylabel("Median " + numerical)
    plt.title(Title)
    plt.show()
    plt.savefig('seabeans.png')

In [ ]:
bar(crops_import,"Partner","Total_Import","soebeans import")

In [ ]:
import matplotlib.pyplot as plt

def three_bar(data,x,y,title):
# Group by 'Country' and sum 'Total Events'
  grouped = data.groupby(x)[y].median().reset_index()

# Split the data into three parts
  num_countries = len(grouped)
  third = num_countries // 3

# Calculate the split indices
  split_idx_1 = third
  split_idx_2 = 2 * third

# Split the DataFrame
  df_part1 = grouped.iloc[:split_idx_1]
  df_part2 = grouped.iloc[split_idx_1:split_idx_2]
  df_part3 = grouped.iloc[split_idx_2:]

# Create three subplots
  fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(20, 6))

# Plot the first part as a bar chart
  ax1.bar(df_part1[x], df_part1[y])
  ax1.set_xlabel("Countries")
  ax1.set_ylabel("Average "+y)
  ax1.set_title(title)
  ax1.tick_params(axis='x', rotation=90)

# Plot the second part as a bar chart
  ax2.bar(df_part2[x], df_part2[y])
  ax2.set_xlabel("Countries")
  ax2.set_ylabel("Average "+y)
  ax2.set_title(title)
  ax2.tick_params(axis='x', rotation=90)

  ax3.bar(df_part3[x], df_part3[y])
  ax3.set_xlabel("Countries")
  ax3.set_ylabel("Average "+y)
  ax3.set_title(title)
  ax3.tick_params(axis='x', rotation=90)

# Adjust spacing between subplots
  plt.tight_layout()

# Show the plot
  plt.show()
three_bar(crops_export,"Partner","Total_export","soebeans export")

# corn cost and return

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
unique_units = corn['Units'].unique()


for unit in unique_units:
  df_filtered = corn[corn['Units'] == unit]
  plt.figure(figsize=(10, 6))
  sns.barplot(x='Category', y='Value', data=df_filtered)
  plt.xlabel("Category")
  plt.ylabel("Value (" + unit + ")")
  plt.title("Corn Data for " + unit)
  plt.show()

In [ ]:


grouped = corn.groupby(['Units', 'Item'])['Value'].sum().reset_index()

for unit in grouped['Units'].unique():
  unit_data = grouped[grouped['Units'] == unit]
  plt.figure(figsize=(10, 6))
  plt.bar(unit_data['Item'], unit_data['Value'])
  plt.xlabel("Item")
  plt.ylabel("Value")
  plt.title(f'Corn Data for {unit}')
  plt.xticks(rotation=90)
  plt.show()

# corp

In [ ]:
import matplotlib.pyplot as plt

measures = crop["MEASURE"].unique().tolist()

for measure in measures:
  df_filtered = crop[crop['MEASURE'] == measure]
  grouped = df_filtered.groupby(['TIME', 'SUBJECT'])['Value'].sum().reset_index()
  # Create a dictionary to store data for each subject
  subjects = {}
  for subject in grouped['SUBJECT'].unique():
    subjects[subject] = grouped[grouped['SUBJECT'] == subject]

  plt.figure(figsize=(10, 6))

  # Create grouped bar chart
  width = 0.15
  x = range(len(grouped['TIME'].unique()))
  for i, subject in enumerate(subjects):
    plt.bar([pos + i * width for pos in x], subjects[subject]['Value'], width, label=subject)

  # Set x-axis labels to years
  plt.xticks([pos + 1.5 * width for pos in x], grouped['TIME'].unique())
  plt.xlabel("Year")
  plt.ylabel("Value")
  plt.title(f'Crop Values for Measure : {measure} using cropyeild as indicator ')
  plt.xticks(rotation=90)
  plt.legend()
  plt.show()

# dash

In [ ]:

!pip install dash

In [ ]:
import dash
from dash import dcc
from dash import html
import pandas as pd
import plotly.express as px

# Load the data
data = disaster_new

# Create the Dash app
app = dash.Dash(__name__)

# Define the layout
app.layout = html.Div([
    html.H1('Disaster Data Visualization'),
    dcc.Dropdown(
        id='country-dropdown',
        options=[{'label': country, 'value': country} for country in data['Country'].unique()],
        value='United States of America'  # Default value
    ),
    dcc.Dropdown(
        id='disaster-type-dropdown',
        options=[{'label': disaster_type, 'value': disaster_type} for disaster_type in data['Disaster Type'].unique()],
        value='Flood'  # Default value
    ),
    dcc.Graph(id='event-chart'),
    dcc.Graph(id='affected-chart'),
    dcc.Graph(id='damage-chart'),
    dcc.Graph(id='map')
])

# Callback functions to update charts based on dropdown selections
@app.callback(
    [dash.Output('event-chart', 'figure'),
     dash.Output('affected-chart', 'figure'),
     dash.Output('damage-chart', 'figure'),
     dash.Output('map', 'figure')],
    [dash.Input('country-dropdown', 'value'),
     dash.Input('disaster-type-dropdown', 'value')]
)
def update_charts(country, disaster_type):
    # Filter data based on selected criteria
    filtered_data = data[(data['Country'] == country) & (data['Disaster Type'] == disaster_type)]

    # Create charts
    fig1 = px.bar(filtered_data, x='Year', y='Total Events', title='Total Events Over Time')
    fig2 = px.line(filtered_data, x='Year', y='Total Affected', title='Total Affected Over Time')
    fig3 = px.bar(filtered_data, x='Year', y='Total Damage (USD, original)', title='Total Damage Over Time')
    fig4 = px.choropleth(filtered_data, locations='ISO', color='Total Affected', hover_name='Country',
                        color_continuous_scale='Viridis', title='Total Affected People by Country')

    return fig1, fig2, fig3, fig4

if __name__ == '__main__':
    app.run_server(debug=True)



def bar(data,categorical,numerical,Title):
    data.groupby(categorical)[numerical].mean().plot( kind="bar",figsize=(10,10))
    plt.xlabel("countryies")
    plt.ylabel(numerical)
    plt.title(Title)
    plt.show()

bar(crops_import,"Partner","Total_Import","soebeans import")

In [ ]:
!pip install ipywidgets
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [ ]:
def show_visualizations(visualization_type):
  if visualization_type == 'drought':
    plotly_choropleth_map(disaster_drought, "Drought Events Over Time ")
  elif visualization_type == 'flood':
    plotly_choropleth_map(disaster_flood, "flood Events Over Time ")
  # Add more conditions for other visualization types

In [ ]:
interact(show_visualizations, visualization_type=['drought', 'flood', 'storm', 'wildfire']) # Add other options as needed